nav{
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding-right: 8%;
    flex-wrap: wrap;
}
nav> ul {
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}
nav>li {

    font-size: 18px;
    color:black;
    flex: 1;
    flex-basis: 50%;
}
nav > ul > li > img {
    padding-right: 80%;
    margin-right: 50px;
}
nav > ul > li > a {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-decoration: none;
}

nav > ul > li > Link {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-decoration: none;
}
footer {
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
    background-color: #D9D9D9;
}

footer img {
    display: flex;
    width: 5em;
    height: 3em;
    padding-top: 10%;
}
footer ul {
    list-style: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer li {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18px;
    color:black;

}

footer > div > ul > li > a {
    color: black;
    text-decoration: none;
}

#title{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 30px;
    color:black;
}

#titleEntry{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 40pt;
    color: #F4CE14;
    font: medium;
    padding-top: 10%;
    font-family: 'Markazi Text';
}

button{
    background-color: #F4CE14;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-family: 'Karla Text';
    font-weight: bold;
}

#testimonials{
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    width: 100%;
    height: 590px;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
}

#entry{
    display: flex;
    justify-content: baseline;
    justify-content: space-between;
    justify-content: space-around;
    background-color:#495E57;
    width: 100%;
    height: 406px;

}
#picPart {
    display: flex;
    justify-content: baseline;
}

#picPart>img {
    display: flex;
    width: 375px;
    height: 458px;
    justify-content: baseline;
    margin-top: 20px;
}

#specials{
    padding-top: 100px;
    padding-right: 10%;
    padding-left: 10%;
}

#specialCard{
    display: flex;
    text-align: center;
    justify-content: space-between;
    justify-content: space-around;
    height: 439px;
    width: 264.67px;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: #EDEFEE;
    border-top-left-radius: 16%;
    border-top-right-radius: 16%;
}
#specialCard>img{
    height:185.26px;
    width:264.67px;
    border-top-left-radius: 16%;
    border-top-right-radius: 16%;
    border-color: black;
    border-style: solid;
}
#specialTitlePrice{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

#specialTitlePrice > span{
    width:50%;
}

#dishes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

#testimonialBox{
    width: 300px;
    height: 150px;
    font: 14px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    align-content: center;
}

#testimonialBox>img{
    height: 46px;
    width: 47px;
    border-color: black;
    border-style: solid;
}

#testimonialSet{
    display:flex;
    justify-content: space-between;
}

p{
    line-height: 1.5;
    max-width: 65ch;
    size: 16pt;
    padding: 5%;
    font: normal;
    font-family: 'Karla Regular';
}

#textPart{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#textPart > p {
    align-self: flex-start;
}

#bookingsPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#bookingPageTitle{
    align-self: center;
    font-family: 'Markazi Text';
    font-size: 40pt;
}
#bookingsPage >img {
    width: 100%;
    height: 400pt;
}

form{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
}

label{
    padding-top: 10%;
    font-family: "Markazi Text";
    font-size: 18pt;
}

form > button {
    margin-top: 10%;
}

#textPart2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10%;
}

#textPart2 > p {
    align-self: flex-start;
    padding-left: 0%;
    line-height: 1.5;
    max-width: 65ch;
    size: 16pt;
    font: normal;
    font-family: 'Karla Regular';
}

#textPart > p {
    align-self: flex-start;
    padding-left: 0%;
    line-height: 1.5;
    max-width: 65ch;
    size: 16pt;
    font: normal;
    font-family: 'Karla Regular';
}


#entry2{
    display: flex;
    justify-content: baseline;
    justify-content: space-between;
    justify-content: space-around;
    width: 100%;
    height: 406px;

}

form{
    font-family: 'Markazi Text';
}

#guests{
    font-family: 'Markazi Text';
}

#confirmedBooking{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
}

label:after {
    content:" *";
    color: red;
  }